@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-around;
    max-width: 80%;
    background-color: #1B244A;
    align-items: center;
    margin: auto;
    height: 50vh;
    border-radius: 20px;
}

.container{
    margin-top: 10em;
}

.container h3 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    color: #EEEEEE;
   
}

/* .teams-score{
    padding: 10rem 10rem;
   
} */

.score-number{
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: #F94F6D;
    font-size: 7rem;
    font-weight: 700;
    background-color: #080001;
    margin: 12px 0;
    border-radius: 12px;   
}

.score-list-btn{
    display: block;
}

.score-list-btn button{
    background-color: #1B244A;
    border: 1px solid #EEEEEE;
    color: #EEEEEE;
    font-size: 2rem;
    font-weight: 800;
    border-radius: 8px;
    padding: 10px 20px;
}